:root {
    --primary-color: #dce9f4;
    --card-color: #222e34;
}

::selection {
    background-color: var(--primary-color);
    color: #415688;
}

@font-face {
    font-family: "Manrope";
    src: url(Fonts/Manrope-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Arvo";
    src: url(Fonts/Arvo-Regular.ttf);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
    background-color: var(--primary-color);
}

#overview-bg {
    background: linear-gradient(50deg, #415688 0%, #0b5e71 35%, #007156 100%);
    height: 100%;
    width: 100%;
    /* box-shadow: 0px 2px 3px #050b0edd; */
}

#overview {
    position: fixed;
    text-align: center;
    background-color: var(--card-color);
    /* box-shadow: 2px 2px 3px #050b0ebb; */
    border-radius: 0px;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.overview-left {
    width: 30%;
    top: 25%;
    left: 25%;
    padding: 45px 25px 45px 45px;
    transition: all 0.5s, top 0.7s;
}

.overview-left #name {
    color: var(--primary-color);
    margin: 0;
    width: 0;
    font-size: calc(0.5em + 1.25cqw);
    font-weight: 700;
    transition: width 2s, font-size 0.5s;
}

.overview-left #title {
    color: #90a9bf;
    margin: 0;
    width: 0;
    font-size: calc(0.5em + 0.95cqw);
    font-weight: 300;
    transition: width 1.75s, font-size 0.5s;
}

.overview-center {
    width: 45%;
    top: 50%;
    left: 50%;
    padding: 95px 95px 45px 95px;
    transition: all 0.5s;
}

.overview-center #name {
    color: #dce9f4;
    margin: 0;
    width: 100%;
    font-size: calc(0.5em + 2cqw);
    font-weight: 800;
    transition: width 0.9s, font-size 0.5s;
}

.overview-center #title {
    color: #90a9bf;
    margin: 0;
    width: 100%;
    font-size: calc(0.5em + 1.6cqw);
    font-weight: 300;
    transition: width 0.85s, font-size 0.5s;
}

#scroll-down {
    margin: 50px;
    color: #90a9bf;
    text-decoration: none;
    font-size: 0.8em;
    transition: all 0.15s;
}

#scroll-down:hover {
    color: #7c8a96;
    /* transition: all 0.15s; */
}

.concealer {
    position: absolute;
    background-color: var(--card-color);
    /* background-color: red; */
    height: 100%;
    width: 100%;
    transition: all 0.15s;
}

.separator {
    padding: 40px;
}

.card {
    position: relative;
    opacity: 0;
    color: #dce9f4;
    background-color: #0b5e71;
    width: 30vw;
    padding: 65px;
    margin: 30px 45px 30px auto;
    overflow: hidden;
    transition: all 0.5s;
}

.card-visible {
    margin: 30px 95px 30px auto;
    opacity: 1;
}

.card-content {
    position: relative;
    width: 25vw;
    /* width: 70%; */
}
    
.reveal {
    position: absolute;
    background-color: #222e34;
    top: 0;
    margin: -65px;
    margin-top: 0;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
}

.card:hover {
    width: 35%;
}

.card:hover .reveal {
    width: 0;
    margin-right: 100%;
}

#contact {
    position: absolute;
    left: 45px;
    bottom: 25px;
    display: flex;
    gap: 15px;
}

#contact a {
    height: 24px;
    width: 24px;
}

#contact img {
    transition: all 0.15s;
}

#contact img:hover {
    opacity: 0.5;
    transition: all 0.15s;
}

.hidden {
    opacity: 0 !important;
    pointer-events: none;
}

h1 {
    font-family: "Arvo", serif;
}
