:root {
    --primary-1: hsl(190, 37%, 51%);
    --neutral-1: hsl(200, 20%, 100%);
    --neutral-2: hsl(200, 20%, 98%);
    --neutral-3: hsl(200, 10%, 54%);
    --neutral-4: hsl(200, 20%, 25%);
    --support-1: hsl(166, 56%, 38%);
    --support-2: hsl(222, 39%, 61%);
}

::selection {
    background-color: var(--neutral-4);
    color: var(--neutral-1);
}

@font-face {
    font-family: "Manrope";
    src: url(Fonts/Manrope-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Arvo";
    src: url(Fonts/Arvo-Regular.ttf);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--neutral-4);
    scroll-behavior: smooth;
    background-color: var(--neutral-1);
    overflow-x: clip;
}

.overview-bg {
    position: relative;
    background: linear-gradient(50deg, var(--support-2) 0%, var(--primary-1) 35%, var(--support-1) 100%);
    height: 100%;
    width: 100%;
    z-index: 10;
}

.main-bg {
    display: grid;
    margin: 0 12vw 0 12vw;
    grid-template-columns: 30% 70%;
}

.overview {
    position: sticky;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 45vw;
    top: 50vh;
    left: 50vw;
    height: 20vh;
    white-space: nowrap;
    z-index: 8;
    transition: all 0.5s;
}

.name {
    color: var(--neutral-1);
    font-weight: 800;
    font-size: 2em;
    margin: 0;
    width: 100%;
}

.title {
    color: var(--neutral-2);
    font-weight: 300;
    font-size: 1.5em;
    margin: 0;
    width: 100%;
}

.overview-left {
    position: sticky;
    width: 26vw;
    top: 20vh;
    transition: all 0.5s;
}

.overview-left .name {
    color: var(--neutral-4);
    font-size: 3em;
    margin-bottom: 15px;
    margin-left: -3px;
    line-height: 1em;
}

.overview-left .title {
    color: var(--neutral-3);
    font-size: 1.5em;
    margin-bottom: 25px;
}

.scroll-down {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.15s;
}

.scroll-down path {
    fill: none;
    stroke: var(--neutral-2);
    opacity: 0.6;
    stroke-width: 0.8px;
    transition: all 0.15s;
}

.scroll-down:hover path {
    stroke: var(--neutral-4);
}

.separator {
    padding: 60px;
    transition: all 0.5s;
}

.link {
    display: block;
    text-align: right;
    margin: 0 0 60px auto;
    width: 40vw;
    white-space: nowrap;
}

.link a {
    display: inline-block;
    padding: 15px;
    margin-right: 2vw;
    color: var(--neutral-4);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
}

.link div {
    display: inline-block;
}

.link hr {
    display: inline-block;
    background-color: var(--neutral-4);
    margin: 5px;
    height: 0.8px;
    border: none;
    width: 15vw;
    transition: all 0.4s;
}

.link a:hover hr {
    width: 18vw;
}

.card {
    position: relative;
    opacity: 1;
    background-color: var(--neutral-2);
    box-shadow: 0.4px 0.4px 2px var(--neutral-4);
    border-radius: 15px;
    margin-left: auto;
    width: 26vw;
    padding: 90px;
    margin-bottom: 60px;
    overflow: hidden;
    transition: all 0.5s;
}

.card.hidden {
    margin-right: -1.5vw;
}

.card-content {
    position: relative;
    width: 26vw;
}

.reveal {
    position: absolute;
    background-color: var(--neutral-1);
    top: 0;
    margin: -90px;
    margin-top: 0;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
}

.card:hover {
    width: 28vw;
}

.card:hover .reveal {
    width: 0;
    margin-right: 100%;
}

.card-header {
    position: absolute;
    color: var(--neutral-3);
    font-size: 1.2em;
    transform: rotate(90deg) translate(-50%, -50%);
    transform-origin: top left;
    top: 50%;
    left: 94%;
    opacity: 0;
    border-bottom: solid;
    border-width: 0.8px;
    border-color: hsla(0, 0%, 0%, 0);
    padding-bottom: 6px;
    transition: all 0.5s, border 0.5s 0.2s;
}

.card:hover .card-header {
    opacity: 1;
    border-color: var(--neutral-3);
    left: 93%;
}

.contact {
    display: flex;
    gap: 15px;
}

.contact a {
    height: 24px;
    width: 24px;
}

.contact img {
    opacity: 0.8;
    transition: all 0.15s;
}

.contact img:hover {
    opacity: 1;
}

.hidden {
    opacity: 0 !important;
    pointer-events: none;
}

#footer {
    background-color: var(--neutral-4);
    height: 100%;
    width: 100%;
}

.card h2 {
    display: inline;
    position: relative;
    font-weight: 400;
    font-size: 1em;
    margin: 0;
}

.date {
    position: relative;
    color: var(--neutral-3);
    margin-top: 15px;
    word-spacing: 2px;
    font-size: 0.9em;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    width: 26vw;
    gap: 5px;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    width: 26vw;
    gap: 5vw;
}

.columns > div > div:first-of-type {
    margin-top: 15px;
}

.columns > div > div {
    position: relative;
    margin-top: 3px;
    font-size: 0.9em;
    color: var(--neutral-3);
}

span {
    font-weight: 600;
    color: var(--neutral-2);
    background-color: var(--primary-1);
    padding: 0 4px 0 4px;
    opacity: 0.6;
    border-radius: 2px;
    cursor: default;
    transition: all 0.15s;
}

.card hr {
    position: absolute;
    border: none;
    background-color: var(--neutral-3);
    height: 0.8px;
    width: 0;
    margin: 6px 0 0 0;
}

.first {
    transition: all 0.3s 0.1s;
}

.second {
    transition: all 0.3s 0.25s;
}

.third {
    transition: all 0.3s 0.4s;
}

.card .separator {
    padding: 25px;
}

.card:hover hr {
    width: 100%;
}

span:hover {
    opacity: 1;
}

h1 {
    font-family: "Arvo", serif;
}
