:root {
    --primary-color: #dce9f4;
    --secondary-color: #35454f;
}

::selection {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

@font-face {
    font-family: "Manrope";
    src: url(Fonts/Manrope-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Arvo";
    src: url(Fonts/Arvo-Regular.ttf);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
    background-color: var(--primary-color);
}

#overview-bg {
    background: linear-gradient(50deg, #738bc2 0%, #52a0b0 35%, #2b977e 100%);
    height: 100%;
    width: 100%;
    /* box-shadow: 0px 2px 3px #050b0edd; */
}

#overview {
    position: fixed;
    text-align: center;
    background-color: var(--primary-color);
    box-shadow: 1px 1px 3px #7c8a96;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#overview.overview-bottom {
    border-radius: 0;
    box-shadow: none;
    background-color: #d3e1ef;
    border-radius: 0;
    width: 100%;
    left: 50%;
    top: 100%;
    transition: all 0.5s;
}

.overview-bottom .separator {
    padding: 10px;
}

.overview-left {
    width: 30%;
    top: 25%;
    left: 25%;
    padding: 45px 25px 45px 45px;
    transition: all 0.5s, top 0.7s;
}

#scrollbar {
    position: fixed;
    background-color: var(--secondary-color);
    /* background-color: #7c8a96; */
    top: 25%;
    left: 25%;
    width: 1px;
    height: 50%;
    transition: all 1.2s;
}

#scrollbar.hidden {
    height: 0;
    top: 35%;
}

#name {
    color: var(--secondary-color);
}

#title {
    color: #606a72;
}

.overview-left #name {
    margin: 0;
    width: 0;
    font-size: calc(0.5em + 1.25cqw);
    font-weight: 800;
    transition: width 2s, font-size 0.5s;
}

.overview-left #title {
    margin: 0;
    width: 0;
    font-size: calc(0.5em + 0.95cqw);
    font-weight: 300;
    transition: width 1.75s, font-size 0.5s;
}

.overview-center {
    width: 45%;
    top: 50%;
    left: 50%;
    padding: 95px 95px 45px 95px;
    transition: all 0.5s;
}

.overview-center #name {
    margin: 0;
    width: 100%;
    font-size: calc(0.5em + 2cqw);
    font-weight: 800;
    transition: width 0.9s, font-size 0.5s;
}

.overview-center #title {
    margin: 0;
    width: 100%;
    font-size: calc(0.5em + 1.6cqw);
    font-weight: 300;
    transition: width 0.85s, font-size 0.5s;
}

#scroll-down {
    margin: 50px;
    color: #919eaa;
    text-decoration: none;
    font-size: 0.8em;
    transition: all 0.15s;
}

#scroll-down:hover {
    color: #7c8a96;
    /* transition: all 0.15s; */
}

.concealer {
    position: absolute;
    background-color: var(--primary-color);
    /* background-color: red; */
    padding: 4px;
    margin: -2px;
    height: 100%;
    width: 100%;
    transition: all 0.15s;
}

.separator {
    padding: 40px;
    transition: all 0.5s;
}

.card {
    position: relative;
    opacity: 0;
    color: #222e34;
    background-color: #d3e1ef;
    box-shadow: 1px 1px 3px #7c8a96;
    border-radius: 15px;
    width: 30vw;
    padding: 65px;
    margin: 30px 45px 30px auto;
    overflow: hidden;
    transition: all 0.5s;
}

.card-visible {
    margin: 30px 95px 30px auto;
    opacity: 1;
}

.card-content {
    color: var(--secondary-color);
    position: relative;
    width: 30vw;
    /* width: 70%; */
    transition: all 0.1s 0.1s;
}
    
.reveal {
    position: absolute;
    background-color: var(--primary-color);
    top: 0;
    margin: -65px;
    margin-top: 0;
    height: 100%;
    width: 100%;
    /* border-radius: 15px; */
    transition: all 0.5s;
}

.card:hover {
    width: 35%;
}

.card:hover .reveal {
    width: 0;
    margin-right: 100%;
}

/* .card:hover .card-content {
    color: var(--primary-color);
} */

#contact {
    position: absolute;
    left: 45px;
    bottom: 25px;
    display: flex;
    gap: 15px;
}

#contact a {
    height: 24px;
    width: 24px;
}

#contact img {
    transition: all 0.15s;
}

#contact img:hover {
    opacity: 0.3;
}

.hidden {
    opacity: 0 !important;
    pointer-events: none;
}

#footer {
    background-color: var(--secondary-color);
    height: 100%;
    width: 100%;
}

h1 {
    font-family: "Arvo", serif;
    
}
